# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
django=3.1.2
freetype=2.10.4
jbig=2.1
jpeg=9d
krb5=1.19.2
lcms2=2.12
lerc=2.2.1
libdeflate=1.7
libpng=1.6.37
libpq=13.3
libtiff=4.3.0
lz4-c=1.9.3
olefile=0.46
openjpeg=2.4.0
openssl=1.1.1k
pillow=8.3.1
pip=20.3.4
psycopg2=2.9.1
pycryptodome=3.10.1
python=3.9.6
python_abi=3.9
pytz=2020.1
setuptools=49.6.0
sqlite=3.36.0
sqlparse=0.4.1
tk=8.6.10
tzdata=2021a
ucrt=10.0.20348.0
vc=14.2
vs2015_runtime=14.29.30037
wheel=0.36.2
wincertstore=0.2
xz=5.2.5
zlib=1.2.11
zstd=1.5.0
